*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width: 100%;
    height: 500px;
    background-color: aqua;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: lightblue;
    text-align: center;
    padding-top: 20px;
    color: white;
}

/* head start */
head {
    width: 100%;
    height: 66px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

head div a {
    color: #1d1d1d31;
    text-decoration: none;
    font-weight: 500;
    font-size: 0.8rem;
    
}
/* head end */